Source: asciiquarium
Section: games
Priority: optional
Maintainer: Niklas Sombert <niklas@ytvwld.de>
Build-Depends: debhelper (>=9), docbook-xsl, docbook-xml, xsltproc
Standards-Version: 3.9.8
Homepage: http://www.robobunny.com/projects/asciiquarium/html/

Package: asciiquarium
Architecture: all
Depends: ${misc:Depends}, ${perl:depends}, libterm-animation-perl
Description: simulation of an aquarium using ASCII art
 This program simulates an aquarium with fish and various other things
 and displays it using ASCII art on a terminal.
